## How to Unpivot Tables in Python with Pandas
#### By DataDive

In [1]:
import pandas as pd

# a example of wide formated table with sales data for different years and quarters
data = {
    'Year': [2020, 2021],
    'Q1': [200, 220],
    'Q2': [210, 230],
    'Q3': [250, 270],
    'Q4': [240, 260]
}
df= pd.DataFrame(data)
df

   Year   Q1   Q2   Q3   Q4
0  2020  200  210  250  240
1  2021  220  230  270  260

In [3]:
unpivoted_df = pd.melt(df, id_vars=["Year"])
unpivoted_df

   Year variable  value
0  2020       Q1    200
1  2021       Q1    220
2  2020       Q2    210
3  2021       Q2    230
4  2020       Q3    250
5  2021       Q3    270
6  2020       Q4    240
7  2021       Q4    260

In [4]:
unpivoted_df = pd.melt(df, id_vars=["Year"], var_name='Quater',value_name='Sales')
unpivoted_df

   Year Quater  Sales
0  2020     Q1    200
1  2021     Q1    220
2  2020     Q2    210
3  2021     Q2    230
4  2020     Q3    250
5  2021     Q3    270
6  2020     Q4    240
7  2021     Q4    260